@import '@/assets/styles/theme.css';

@reference "tailwindcss";

@utility button-border {
  @apply border border-[#d9d9d9] hover:border-[#4096ff] hover:text-[#4096ff];
}

@utility button-disabled {
  @apply border-[#d9d9d9] hover:border-[#d9d9d9] border bg-container-disabled;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@layer components {
  button {
    @apply inline-flex items-center gap-2 whitespace-nowrap leading-none rounded-md cursor-pointer transition-all duration-300;
  }

  button[data-button-type='default'] {
    @apply border border-[#d9d9d9] border-solid button-border disabled:button-disabled;
  }

  button[data-button-type='primary'] {
    @apply bg-primary text-white hover:bg-[#4096ff] disabled:button-disabled;
  }

  button[data-button-type='text'] {
    @apply hover:bg-[#eee] disabled:hover:bg-transparent;
  }

  button[data-button-type='link'] {
    @apply text-primary hover:text-[#4096ff] disabled:hover:text-font-disabled;
  }

  button[data-button-type='dashed'] {
    @apply button-border border-dashed disabled:button-disabled;
  }

  button[data-block='true'] {
    @apply w-full flex justify-center items-center;
  }

  button:has(.loading-icon) {
    @apply px-5 opacity-50 pointer-events-none;
  }

  button:disabled {
    @apply cursor-not-allowed text-font-disabled hover:text-font-disabled;
  }

  button .icon,
  button .loading-icon {
    @apply inline-flex items-center leading-none h-[1em]! flex-none;
  }

  button .icon > .iconfont,
  button .loading-icon > .iconfont {
    @apply align-middle leading-none !text-[1em];

    vertical-align: middle;
  }

  button .icon > svg,
  button .loading-icon > svg {
    @apply block w-[1em] h-[1em] align-middle;
  }

  .loading-icon {
    .iconfont {
      animation: spin 1s linear infinite;
    }
  }

  button[data-size='small'] {
    @apply text-xs px-2 py-1;
  }

  button[data-size='medium'] {
    @apply text-sm px-4 py-1.5;
  }

  button[data-size='large'] {
    @apply text-base px-6 py-2;
  }

  button:active:not(:disabled) {
    opacity: 1;
    transition: all 0.1s ease-out;
  }

  button[data-button-type='primary']:active:not(:disabled) {
    box-shadow: 0 0 0 6px rgb(64 150 255 / 20%);
  }

  button[data-button-type='default']:active:not(:disabled) {
    box-shadow: 0 0 0 6px rgb(0 0 0 / 8%);
  }

  button[data-button-type='dashed']:active:not(:disabled) {
    box-shadow: 0 0 0 6px rgb(0 0 0 / 8%);
  }

  button[data-button-type='text']:active:not(:disabled) {
    box-shadow: 0 0 0 6px rgb(0 0 0 / 5%);
  }

  button[data-button-type='link']:active:not(:disabled) {
    box-shadow: 0 0 0 6px rgb(64 150 255 / 15%);
  }
}
